body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    background-color: #fff;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.vertical-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.vertical-buttons button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.vertical-buttons button:hover {
    background-color: #0056b3;
}

.output-text {
    margin-top: 20px;
    padding: 60px;
    width: 55%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    left: 80px;
    bottom : 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}